<div id="header_logo">
    <a href="/" title="Organik Yumurta">
        <img src="/img/logo.png" alt="Organik Yumurta">
    </a>
</div>

<!-- cart block -->
<div class="col-sm-3 cartBox clearfix">
	<div class="shopping_cart">
		<a href="/cart" title="View my shopping cart" rel="nofollow">
			<b>Cart</b>
			<span class="ajax_cart_quantity unvisible">0</span>
			<span class="ajax_cart_product_txt unvisible">Product</span>
			<span class="ajax_cart_product_txt_s unvisible">Products</span>
			<span class="ajax_cart_total unvisible"></span>
			<span class="ajax_cart_no_product">(empty)</span>
        </a>
        <div class="cart_block block exclusive" style="">
            <div class="block_content">
                <!-- block list of products -->
                <div class="cart_block_list">
                    <p class="cart_block_no_products">
                        No products
                    </p>
                    <div class="cart-prices">
                        <div class="cart-prices-line first-line">
                            <span class="price cart_block_shipping_cost ajax_cart_shipping_cost">
                                    Free shipping!
                            </span>
                            <span>
                                Shipping
                            </span>
                        </div>
                        <div class="cart-prices-line last-line">
                            <span class="price cart_block_total ajax_block_cart_total">$0.00</span>
                            <span>Total</span>
                        </div>
                    </div>
                    <p class="cart-buttons">
                        <a id="button_order_cart" class="btn btn-default button button-small" href="https://livedemo00.template-help.com/prestashop_49463/index.php?controller=order" title="Check out" rel="nofollow">
                            <span>
                                Check out
                                <i class="icon-chevron-right right"></i>
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div><!-- .cart_block -->
    </div>
</div>