/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
/*******************************************************************
					Cart Block Styles
********************************************************************/
#header .cartBox {
    float: right; }
  
  .shopping_cart {
    width: 270px;
    position: relative;
    z-index: 1; }
    @media (max-width: 1200px) {
      .shopping_cart {
        margin: 0 auto;
        float: none;
        width: 100%; } }
    .shopping_cart > a:first-child {
      padding: 12px 10px 13px 80px;
      display: block;
      font-size: 15px;
      line-height: 21px;
      font-weight: normal;
      color: #fff;
      position: relative;
      -moz-border-radius: 0 0 3px 3px;
      -webkit-border-radius: 0;
      border-radius: 0 0 3px 3px;
      background: #fd6909;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkNjkwOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmODY1MDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, #fd6909 0%, #f86506 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd6909), color-stop(100%, #f86506));
      background: -webkit-linear-gradient(top, #fd6909 0%, #f86506 100%);
      background: -o-linear-gradient(top, #fd6909 0%, #f86506 100%);
      background: -ms-linear-gradient(top, #fd6909 0%, #f86506 100%);
      background: linear-gradient(to bottom, #fd6909 0%, #f86506 100%); }
      @media (min-width: 768px) and (max-width: 991px) {
        .shopping_cart > a:first-child span.ajax_cart_product_txt, .shopping_cart > a:first-child span.ajax_cart_product_txt_s {
          font-size: 11px; } }
      @media (max-width: 767px) {
        .shopping_cart > a:first-child {
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px; } }
      .shopping_cart > a:first-child b {
        display: block;
        text-transform: uppercase;
        font: bold 21px/21px "Roboto", sans-serif; }
        @media (min-width: 992px) and (max-width: 1199px) {
          .shopping_cart > a:first-child b {
            font-size: 16px; } }
        @media (min-width: 768px) and (max-width: 991px) {
          .shopping_cart > a:first-child b {
            font-size: 11px; } }
      .shopping_cart > a:first-child:before {
        content: " ";
        display: block;
        width: 68px;
        height: 78px;
        background: url(../../../img/cart-bg.png) no-repeat;
        position: absolute;
        left: 13px;
        top: 5px;
        z-index: 2; }
      .shopping_cart > a:first-child:hover {
        background: #ea5c00; }
    .shopping_cart .ajax_cart_total {
      display: none !important; }
    .shopping_cart .block_cart_expand:after, .shopping_cart .block_cart_collapse:after {
      content: "\f0d7";
      font-family: "FontAwesome";
      display: inline-block;
      float: right;
      font-size: 18px;
      color: #686666;
      padding: 6px 0 0 0; }
    .shopping_cart .block_cart_collapse:after {
      content: "\f0d8";
      padding: 4px 0 2px 0; }
  
  .cart_block .cart_block_list .remove_link {
    position: absolute;
    right: 10px;
    top: 19px; }
  .cart_block .cart_block_list .remove_link a,
  .cart_block .cart_block_list .ajax_cart_block_remove_link {
    color: #777777;
    display: block;
    width: 100%;
    height: 100%; }
    .cart_block .cart_block_list .remove_link a:before,
    .cart_block .cart_block_list .ajax_cart_block_remove_link:before {
      display: inline-block;
      content: "\f057";
      font-family: "FontAwesome";
      font-size: 18px;
      line-height: 18px; }
    .cart_block .cart_block_list .remove_link a:hover,
    .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
      color: #515151; }
  .cart_block .cart-images {
    float: left;
    margin-right: 20px;
    padding: 5px;
    border: #193520;
    background: #fff; }
  .cart_block .cart-info {
    overflow: hidden;
    position: relative;
    padding-right: 20px; }
    .cart_block .cart-info .product-name {
      padding-bottom: 5px;
      margin-top: -4px; }
      .cart_block .cart-info .product-name a {
        font-size: 13px;
        line-height: 18px;
        display: inline-block; }
    .cart_block .cart-info .quantity-formated {
      display: inline-block;
      color: #78c48b;
      text-transform: uppercase;
      font-size: 10px;
      padding-right: 5px; }
      .cart_block .cart-info .quantity-formated .quantity {
        font-size: 15px; }
  .cart_block dt {
    font-weight: normal;
    overflow: hidden;
    padding: 20px 10px 16px 20px;
    position: relative; }
  .cart_block dd {
    position: relative; }
    .cart_block dd .cart_block_customizations {
      border-top: 1px dashed #31653e; }
      .cart_block dd .cart_block_customizations li {
        padding: 10px 20px; }
        .cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
          position: absolute;
          right: 10px; }
  .cart_block .cart_block_no_products {
    margin: 0;
    padding: 10px 20px; }
  .cart_block .cart-prices {
    border-top: 1px solid #e15800;
    font-weight: bold;
    padding: 10px 20px 22px 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .cart_block .cart-prices .cart-prices-line {
      overflow: hidden;
      border-bottom: 1px solid #e55a00;
      padding: 7px 0; }
      .cart_block .cart-prices .cart-prices-line.last-line {
        border: none; }
  .cart_block .cart-buttons {
    overflow: hidden;
    padding: 20px 20px 10px 20px;
    margin: 0;
    background: #f6f6f6; }
    .cart_block .cart-buttons a {
      width: 100%;
      float: left;
      text-align: center;
      margin-bottom: 10px;
      margin-right: 10px;
      color: #333333; }
      .cart_block .cart-buttons a#button_order_cart {
        margin-right: 0;
        border: none; }
        .cart_block .cart-buttons a#button_order_cart span {
          padding: 7px 0;
          font-size: 1.1em;
          display: block;
          color: #333333; }
  
  /*******************************************************************
                      Cart Block(Header) Styles
  ********************************************************************/
  #header .cart_block {
    position: absolute;
    top: 73px;
    right: 0;
    z-index: 100;
    display: none;
    height: auto;
    background: #295434;
    border: none;
    color: white;
    width: 270px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 1; }
    #header .cart_block a {
      color: white; }
      #header .cart_block a:hover {
        color: #78c48b; }
    #header .cart_block .cart_block_list .remove_link a,
    #header .cart_block .cart_block_list .ajax_cart_block_remove_link {
      color: white;
      outline: none;
      text-decoration: none; }
      #header .cart_block .cart_block_list .remove_link a:hover,
      #header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
        color: #78c48b; }
    #header .cart_block .price {
      color: white; }
    #header .cart_block dt {
      background: url(../../../img/cart-shadow.png) repeat-x; }
      #header .cart_block dt.first_item {
        background: none; }
    #header .cart_block .product-atributes {
      padding-bottom: 10px;
      font-size: 11px; }
      #header .cart_block .product-atributes a {
        color: #78c48b; }
        #header .cart_block .product-atributes a:hover {
          color: white; }
    #header .cart_block .cart-prices {
      border: none;
      background: url(../../../img/cart-shadow.png) repeat-x #f86506; }
    #header .cart_block .cart-buttons {
      background: url(../../../img/cart-shadow.png) repeat-x #31653e;
      -moz-border-radius: 0 0 3px 3px;
      -webkit-border-radius: 0;
      border-radius: 0 0 3px 3px; }
  #header .block_content {
    margin-bottom: 0; }
  
  .cart_block #cart_block_summary,
  .cart_block .title_block span,
  #header .cart_block h4,
  #header .cart_block .title_block,
  #header .cart_block h4 {
    display: none; }
  
  .cart_block .cart_block_shipping_cost,
  .cart_block .cart_block_tax_cost,
  .cart_block .cart_block_total,
  .cart_block .cart_block_wrapping_cost {
    float: right; }
  
  .cart_block table.vouchers {
    clear: both;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px; }
    .cart_block table.vouchers tr td {
      padding: 2px; }
      .cart_block table.vouchers tr td.quantity {
        margin-right: 5px;
        min-width: 18px; }
      .cart_block table.vouchers tr td.delete {
        padding-left: 0;
        padding-right: 0;
        text-align: right;
        width: 15px; }
  
  /*****************************************************************************
                      Layer Cart Css
  *****************************************************************************/
  .layer_cart_overlay {
    background-color: #000;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 98;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2; }
  
  * html .layer_cart_overlay {
    position: absolute;
    left: 0;
    margin-left: -160px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2; }
  
  #layer_cart {
    background-color: white;
    position: absolute;
    display: none;
    z-index: 99;
    width: 84%;
    margin-right: 8%;
    margin-left: 8%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    #layer_cart .layer_cart_product {
      padding: 30px 30px 30px 30px;
      overflow: hidden;
      position: static; }
      #layer_cart .layer_cart_product h2 {
        font: 400 23px/29px "Roboto", sans-serif;
        color: #46a74e;
        margin-bottom: 22px;
        padding-right: 100px; }
        @media (max-width: 767px) {
          #layer_cart .layer_cart_product h2 {
            font-size: 18px;
            padding-right: 0;
            line-height: normal; } }
        #layer_cart .layer_cart_product h2 i {
          font-size: 30px;
          line-height: 30px;
          float: left;
          padding-right: 8px; }
          @media (max-width: 767px) {
            #layer_cart .layer_cart_product h2 i {
              font-size: 22px;
              line-height: 22px; } }
      #layer_cart .layer_cart_product .product-image-container {
        max-width: 178px;
        border: 1px solid #cbcbcb;
        padding: 5px;
        float: left;
        margin-right: 30px; }
        @media (max-width: 480px) {
          #layer_cart .layer_cart_product .product-image-container {
            float: none;
            margin-right: 0;
            margin-bottom: 10px; } }
      #layer_cart .layer_cart_product .layer_cart_product_info {
        padding: 38px 0 0 0; }
        #layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
          display: block;
          padding-bottom: 8px; }
        #layer_cart .layer_cart_product .layer_cart_product_info > div {
          padding-bottom: 7px; }
          #layer_cart .layer_cart_product .layer_cart_product_info > div strong {
            padding-right: 3px; }
    #layer_cart .layer_cart_cart {
      background: #fafafa;
      border-left: 1px solid #cbcbcb;
      padding: 21px 30px 170px 30px;
      -moz-border-radius: 0 4px 4px 0;
      -webkit-border-radius: 0;
      border-radius: 0 4px 4px 0;
      position: relative; }
      @media (min-width: 1200px) {
        #layer_cart .layer_cart_cart {
          min-height: 318px; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        #layer_cart .layer_cart_cart {
          min-height: 360px; } }
      @media (max-width: 991px) {
        #layer_cart .layer_cart_cart {
          border-left: none;
          border-top: 1px solid #cbcbcb; } }
      #layer_cart .layer_cart_cart h2 {
        font: 400 23px/29px "Roboto", sans-serif;
        color: #333333;
        border-bottom: 1px solid #cbcbcb;
        padding-bottom: 13px;
        margin-bottom: 17px; }
        @media (max-width: 767px) {
          #layer_cart .layer_cart_cart h2 {
            font-size: 18px; } }
      #layer_cart .layer_cart_cart .layer_cart_row {
        padding: 0 0 7px 0; }
      #layer_cart .layer_cart_cart .button-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 30px 20px 30px; }
        #layer_cart .layer_cart_cart .button-container .btn {
          margin-bottom: 10px; }
        #layer_cart .layer_cart_cart .button-container span.exclusive-medium {
          margin-right: 5px; }
          #layer_cart .layer_cart_cart .button-container span.exclusive-medium i {
            padding-right: 5px;
            color: #777777; }
    #layer_cart .cross {
      position: absolute;
      right: 7px;
      top: 8px;
      width: 25px;
      height: 25px;
      cursor: pointer;
      color: #333333;
      z-index: 2; }
      #layer_cart .cross:before {
        content: "\f057";
        display: block;
        font-family: "FontAwesome";
        font-size: 25px;
        line-height: 25px; }
      #layer_cart .cross:hover {
        color: #515151; }
    #layer_cart .continue {
      cursor: pointer; }
    #layer_cart p {
      padding: 0; }
  
  /************************************************************************
                          Layer Cart Caroucel
  *************************************************************************/
  #layer_cart .crossseling .crossseling-content {
    border-top: 1px solid #cbcbcb;
    padding: 26px 30px 40px 30px;
    position: relative; }
  #layer_cart .crossseling h2 {
    font: 400 23px/26px "Roboto", sans-serif;
    color: #333333;
    margin-bottom: 25px; }
  #layer_cart .crossseling #blockcart_list {
    max-width: 773px;
    width: 84%;
    margin: 0 auto;
    overflow: hidden; }
    #layer_cart .crossseling #blockcart_list ul {
      display: block; }
      #layer_cart .crossseling #blockcart_list ul li {
        float: left;
        width: 178px;
        margin: 0 0 0 0; }
        #layer_cart .crossseling #blockcart_list ul li .product-image-container {
          border: 1px solid #cbcbcb;
          text-align: center;
          padding: 5px;
          margin-bottom: 15px; }
          #layer_cart .crossseling #blockcart_list ul li .product-image-container img {
            width: 100%; }
        #layer_cart .crossseling #blockcart_list ul li .product-name {
          padding-bottom: 5px; }
          #layer_cart .crossseling #blockcart_list ul li .product-name a {
            font-size: 15px;
            line-height: 20px; }
    #layer_cart .crossseling #blockcart_list a.bx-prev,
    #layer_cart .crossseling #blockcart_list a.bx-next {
      display: block;
      font-family: "FontAwesome";
      font-size: 20px;
      line-height: 20px;
      width: 20px;
      height: 20px;
      color: #333333;
      text-indent: -5000px;
      position: absolute;
      top: 45%;
      margin-top: -20px; }
      #layer_cart .crossseling #blockcart_list a.bx-prev:after,
      #layer_cart .crossseling #blockcart_list a.bx-next:after {
        display: block;
        text-indent: 0; }
      #layer_cart .crossseling #blockcart_list a.bx-prev:hover,
      #layer_cart .crossseling #blockcart_list a.bx-next:hover {
        color: #c0c0c0; }
      #layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
      #layer_cart .crossseling #blockcart_list a.bx-next.disabled {
        display: none; }
    #layer_cart .crossseling #blockcart_list a.bx-prev {
      left: 5%; }
      #layer_cart .crossseling #blockcart_list a.bx-prev:after {
        content: "\f137"; }
    #layer_cart .crossseling #blockcart_list a.bx-next {
      right: 5%; }
      #layer_cart .crossseling #blockcart_list a.bx-next:after {
        content: "\f138"; }
    #layer_cart .crossseling #blockcart_list .bx-controls {
      overflow: hidden; }
  