{% extends 'base.html.twig' %}

{% block title %} Create a new project {% endblock %}

{% block body %}

<div class="container">

    <h3>Create a new project</h3>

    {% include 'partials/errors.html.twig' %}

    <form method="post" action="{{ path('store_project') }}">
        <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" class="form-control" name="title" id="exampleInputEmail1" aria-describedby="titleHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Body</label>
            <input type="text" class="form-control" name="body" id="exampleInputPassword1" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}